* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body{
  width: 70%;
  margin: auto;
}

header{
  width: 100%;
  margin-top: 20px;
}

main{
  width: 100%;
  margin: 20px 0;
  background-color: teal;
}

footer{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #853785;
}

header .logo{
  width: 100%;
  height: 80px;
  background-color: violet;
}

header .immagine{
  width: 100%;
  height: 350px;
  margin-top: 20px;
  background-color: rgb(197, 190, 97);
}

main .oggetto{
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  background-color: rgb(107, 250, 250);
}

main aside{
  width: 20%;
  height: 500px;
  margin-bottom: 20px;
  float: left;
  background-color: rgb(107, 250, 250);
}

main section{
  width: 56%;
  height: 500px;
  margin: 0 2%;
  float: left;
  background-color: rgb(107, 250, 250);
}